---
layout: base
permalink: /index.html
title: 'WCS Minnesota'
description: 'Eleventy starter using modern CSS, fluid type, fluid spacing, flexible layout and progressive enhancement.'
---

<div class="wrapper">
  <header class="full | section" style="--spot-color: var(--color-primary)">
    <div class="section__inner flow region">
      <h1 class="text-center" style="color: var(--color-light);">{{ title }}</h1>
    </div>
    {% svg "divider/waves", null, "divider" %}
  </header>

  <article class="full | region">
    <div class="prose wrapper flow justify-center">
      <p>
        Hello and welcome! This is an independent, community resource, for dancers to find all the information that may want or need 
        relating to West Coast Swing in the Minnesota area. This project is just starting out, and if you would like to contribute, 
        or have feedback, please use the contact form below or email us (at minnesota.wcs@gmail.com). Below is a calendar with all 
        the events public WCS events in MN. If you notice anything missing, please feel free to submit the information in any of our 
        contact forms. You may also check out the Community Resources Page to connect with local dancers.
      </p>
      <iframe 
        src="https://calendar.google.com/calendar/embed?height=800&wkst=1&ctz=America%2FChicago&showPrint=0&title=WCS%20MN&mode=MONTH&src=bWlubmVzb3RhLndjc0BnbWFpbC5jb20&src=M2FiYWE3ZmEwMWVhM2YwM2NjMmFjNjI2OGZkNWY3MDU4NDI3NGQ5OGEzZmYzMGIwMWU1MTQxNTc5ZTczOGVlYUBncm91cC5jYWxlbmRhci5nb29nbGUuY29t&src=MzkwYTRhZDM0NzM4ODBjOWZmZWVlODRlODg2NjJhNGE0ZWM4NGRlNmU1MmZjZDFlMjQwYzc4NWNhMDYyMmIzYkBncm91cC5jYWxlbmRhci5nb29nbGUuY29t&src=MmVlNTU5NDVhYTRhNGQ3MDZkOGUyMDk0MDJhN2RmZmNlOTdmZmQ4ZWIwOGUzYjg3YjhmMDdiMWI2N2RjMDlmZUBncm91cC5jYWxlbmRhci5nb29nbGUuY29t&src=bW5zd2luZ3NhZmV0eUBnbWFpbC5jb20&src=c3dpbmdpbnRoZW5vcnRobW5AZ21haWwuY29t&src=dHdpbmNpdGllcy5yZWJlbHMyQGdtYWlsLmNvbQ&color=%23e4c441&color=%234285f4&color=%23f09300&color=%23ad1457&color=%23c0ca33&color=%238e24aa&color=%234285f4" 
        style="border:solid 1px #777" 
        width="900" height="800" 
        frameborder="0" 
        scrolling="no"></iframe>
      <p><strong>Have fun</strong> and let me know if you find any issues or have ideas for improvements!</p>
    </div>
  </article>
</div>
