<footer class="site-footer mt-l-xl p-s-m">
  <div class="wrapper" style="text-align: center;">
<small>Please note that most calendar information is provided by individual organizations and event owners, and may change without notice. While we do our best to keep things up to date, schedules and details are ultimately managed by each organization. We recommend checking the official event or organizer website for the most current information, including schedule updates or cancellations.</small>
    {% include 'partials/theme-switch.njk' %}
    <div class="cluster gutter-xs">
      <nav class="cluster text-step-0" aria-label="{{ meta.navigation.ariaBottom }}">
        &copy; {% year %}
        <a href="/" {{ indicateActiveHome }}
          ><span class="font-display">{{ meta.siteName }}</span> 
          <small>Version: {{ build.version }} · {{ build.commit }}</small>
        </a>

        {% for item in navigation.bottom %}
          <a
            href="{{ item.url }}"
            {{
              helpers.getLinkActiveState(item.url,
              page.url)
              |
              safe
            }}
            >{{ item.text }}</a
          >
        {% endfor %}
      </nav>

      <nav class="cluster" aria-label="{{ meta.navigation.ariaPlatforms }}">
        {% for key, value in personal.platforms %}
          {% if value != "" %}
            <!-- regular platforms -->
            <a class="no-indicator button" data-icon href="{{ value }}" rel="me">
              <span class="visually-hidden">{{ key | capitalize }}</span>
              {% svg 'platform/' + key %}
            </a>
          {% endif %}
        {% endfor %}
      </nav>
    </div>

    <aside class="creator | cluster gutter-2xs text-step-min-1">
      Made with 
      <a class="no-indicator" href="https://www.11ty.dev/">
        <span class="visually-hidden">Eleventy</span>
        {% svg "misc/11ty" %}
      </a>
      by
      <a href="/contributions/contributors/index.html">Our Contributors</a>
    </aside>
  </div>
</footer>
