<header class="wrapper">
  <a href="#main" class="skip-link">{{ meta.skipContent }}</a>

  <div class="repel ontop gutter-s">
    <a href="/" class="logo" {{ indicateActiveHome }}>
      <img
        src="/assets/wcsmn/wcs_mn_logo_white.png"
        alt="{{ meta.siteName }} logo"
        class="site-logo"
        loading="eager"
        style="height: 40px; width: auto; background: white; padding: 0.25rem; border-radius: 0.25rem;"
      />
    </a>
    {% include "partials/main-nav.njk" %}
  </div>
</header>
